<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>

  {% load staticfiles %}
  <script src="{% static "jquery-1.11.0.min.js" %}"></script>
  <script src="{% static "bootstrap-3.1.1/js/bootstrap.js" %}"></script>

  <link rel="stylesheet" href="{% static "bootstrap-3.1.1/css/bootstrap.css" %}"/>
  <link rel="stylesheet" href="{% static "bootstrap-3.1.1/css/bootstrap-theme.css" %}"/>

  {% block head_scripts %}
  {% endblock head_scripts %}
</head>
<body>
  <div class="container">
    {% block header %}
    {% endblock header %}
    {% block content %}
    {% endblock content %}
    {% block footer %}
    {% endblock footer %}
  </div>
</body>
</html>
