{% extends "base_wordcloud.html" %}

{% block head_scripts %}
  <script>
    // Adjust the padding at top of document when height of navbar changes
    function updateBodyPaddingWhenControlsChangeSize() {
      if ($('#waveform_navbar').length > 0) {
        var new_control_height = 5 + $('#waveform_navbar').height();
        $('body').attr('style', 'padding-top: ' + new_control_height + 'px;');
      }
    }

    $(document).ready(function() {
      var waveformVisualizer = new WaveformVisualizer(
        'document_visualizer',
        { height: 96, scrollParent: true },
        { controlsResizeCallback: updateBodyPaddingWhenControlsChangeSize }
      );
      waveformVisualizer.addControlsAndLoadAudio(
        $('#document_audio_controls'),
        "{% url 'document_wav_file' corpus.id document.id %}"
      );

      waveformVisualizer.wavesurfer.on('region-in', function(marker) {
        $('.audio_event_span_' + marker.id).addClass('playover');
      });

      waveformVisualizer.wavesurfer.on('region-out', function(marker) {
        $('.audio_event_span_' + marker.id).removeClass('playover');
      });

      waveformVisualizer.wavesurfer.on('ready', function() {
        var i, audioEventSpan;
        for (i = 0; i < audio_events.length; i++) {
          waveformVisualizer.wavesurfer.mark({
            'id': audio_events[i]['_id'],
            'color': 'blue',
            'position': audio_events[i]['start_offset']
          });

          waveformVisualizer.wavesurfer.region({
            'id': audio_events[i]['_id'],
            'startPosition': audio_events[i]['start_offset'],
            'endPosition': audio_events[i]['end_offset']
          });
        }
      });

      var termVisualizer = new WaveformVisualizer(
        'term_visualizer',
        { height: 96 },
        { controlsResizeCallback: updateBodyPaddingWhenControlsChangeSize }
      );
      termVisualizer.addControls($('#term_audio_controls'));

      // Prevent two audio clips from playing simultaneously
      termVisualizer.wavesurfer.on('play', function() {
        waveformVisualizer.pause();
      });
      waveformVisualizer.wavesurfer.on('play', function() {
        termVisualizer.pause();
      });

      /**
       *
       */
      function updateActiveTerm(event) {
        var corpus_id = event.data.corpus_id;
        var term_id = event.data.term_id;
        $('#pt_eng_display')
          .data('term_id', term_id)
          .val($("#term_" + term_id).data("eng_display"));

        // There can be only one active term at a time
        $(".active_wordcloud_token").removeClass("active_wordcloud_token");
        $("#term_" + term_id).addClass("active_wordcloud_token");

        termVisualizer.loadAndPlayURL('/visualizer/' + corpus_id + '/term/' + term_id + '.wav');
      }

      function updateTermLabel() {
        var label = $("#pt_eng_display").val();
        var term_id = $("#pt_eng_display").data('term_id');

        // Only update the term label if the user has previously selected a term
        if (term_id) {
          $("#term_" + term_id)
            .data("eng_display", label)
            // Update the term label shown in the word cloud
            .text(label);

          $.ajax({
            url: "/visualizer/term/"+term_id+"/update",
            type: "POST",
            data: JSON.stringify({
              "eng_display": label
            })
          });
        }
      }

      // Add event handlers for when user changes the label for a term
      $("#pt_eng_display")
        .focusout(function() {
          updateTermLabel();
        })
        .keydown(function(e) {
          // Update annotation when users hit enter
          if (e.keyCode === 13) {
            updateTermLabel();
          }
        });

      $.getJSON("{% url 'wordcloud_json_for_document' corpus.id document.id %}", function(data) {
        var sort_keys = data.sort_keys;
        var terms = data.terms;
        var wordcloud_div = $("#wordcloud_div");

        for (var termIndex in terms) {
          var i;
          var term = terms[termIndex];
          var tooltip_text = "";

          var wordcloud_span = $('<span>')
            .attr('id', 'term_' + term.term_id)
            .on('click', {'corpus_id': term.corpus_id, 'term_id': term.term_id}, updateActiveTerm);

          $.each(term, function(key, value) {
            wordcloud_span.data(key, value);
            if (sort_keys[key]) {
              tooltip_text += sort_keys[key] + ": " + value + "\n";
            }
          });

          var span_classes = ['wordcloud_token'];
          for (i = 0; i < term.audio_event_ids.length; i++) {
            span_classes.push("audio_event_span_" + term.audio_event_ids[i]);
          }
          for (i = 0; i < term.pt_ids.length; i++) {
            span_classes.push("term_span_" + term.pt_ids[i]);
          }
          for (i = 0; i < term.document_ids.length; i++) {
            span_classes.push("document_span_" + term.document_ids[i]);
          }
          wordcloud_span.addClass(span_classes.join(" "));

          // Add tooltip
          wordcloud_span
            .attr('data-placement', 'bottom')
            .attr('data-toggle', 'tooltip')
            .attr('title', tooltip_text)
            .tooltip();

          wordcloud_span.text(term.eng_display);
          wordcloud_div.append(wordcloud_span);
        }
      });
    });

    var audio_events = [
      {% for audio_fragment in audio_fragments %}
      {
        'start_offset': {{audio_fragment.start_offset}} / 100.0,
        'end_offset': {{audio_fragment.end_offset}} / 100.0,
        'zr_pt_id': '{{audio_fragment.zr_fragment_index}}',
        '_id': '{{audio_fragment.id}}'
      },
      {% endfor %}
    ];
  </script>
{% endblock head_scripts %}

{% block content %}

  <nav id="waveform_navbar" class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-1 text-right" style="padding-top: 20px;">
          <span id="document_audio_controls"></span>
        </div>
        <div class="col-md-11">
          <div style="border: 1px solid #C0C0C0; margin-top: 0.5em; margin-bottom: 0.5em;">
            <div id="document_visualizer"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-1 text-right" style="padding-top: 20px;">
          <span id="term_audio_controls"></span>
        </div>
        <div class="col-md-11">
          <div style="border: 1px solid #C0C0C0; margin-top: 0.5em; margin-bottom: 0.5em;">
            <div id="term_visualizer"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-1 text-right">
        </div>
        <div class="col-md-11">
          <div class="form-inline">
            <div class="form-group">
              <label for="pt_eng_display">English</label>
              <input id="pt_eng_display"></input>
            </div>
            <!--
            <div class="form-group">
              <label for="pt_native_display">Native</label>
              <input id="pt_native_display"></input>
            </div>
            <div class="form-group">
              <button class="btn btn-primary btn-xs" id="pt_junk_button"><i class="glyphicon glyphicon-trash"></i></button>
            </div>
            -->
            <div class="form-group">
              <div id="term_visualizer_document_list" style="padding-left: 1em;"></div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </nav>

  <div id="wordcloud_div"></div>

  <div id="wordcloud_location"></div>


{% endblock content %}
