{% extends "base_wordcloud.html" %}

{% block head_scripts %}
  <script>
    $(document).ready(function() {
      var waveformVisualizer = new WaveformVisualizer(
        'document_visualizer',
        { height: 96, scrollParent: true },
        { controlsResizeCallback: updateBodyPaddingTop }
      );
      waveformVisualizer.addControlsAndLoadAudio(
        $('#document_audio_controls'),
        "{% url 'document_wav_file' corpus_id document_id %}"
      );

      waveformVisualizer.wavesurfer.on('region-in', function(marker) {
        $('.audio_fragment_span_' + marker.id).addClass('playover');
      });

      waveformVisualizer.wavesurfer.on('region-out', function(marker) {
        $('.audio_fragment_span_' + marker.id).removeClass('playover');
      });

      $.getJSON("{% url 'document_audio_fragments_as_json' corpus_id document_id %}", function(audio_fragments) {
        waveformVisualizer.wavesurfer.on('ready', function() {
          for (var i = 0; i < audio_fragments.length; i++) {
            waveformVisualizer.wavesurfer.mark({
              'id': audio_fragments[i]['audio_fragment_id'],
              'color': 'blue',
              'position': audio_fragments[i]['start_offset'] / 100.0
            });

            waveformVisualizer.wavesurfer.region({
              'id': audio_fragments[i]['audio_fragment_id'],
              'startPosition': audio_fragments[i]['start_offset'] / 100.0,
              'endPosition': audio_fragments[i]['end_offset'] / 100.0
            });
          }
        });
      });

      var termVisualizer = new WaveformVisualizer(
        'term_visualizer',
        { height: 96 },
        { controlsResizeCallback: updateBodyPaddingTop }
      );
      termVisualizer.addControls($('#term_audio_controls'));

      // Update padding of body element after adding navigation controls
      updateBodyPaddingTop();

      $.getJSON("{% url 'wordcloud_params_for_document' %}", function(wordcloud_params) {
        var termCloudCollection = new TermCloudCollection();
        termCloudCollection.url = "{% url 'wordcloud_json_for_document' corpus_id document_id %}";
        var termCloud = new TermCloud({collection: termCloudCollection});

        TermCloudControls.addAudioPlaybackEventHandler(termCloud, termVisualizer);
        TermCloudControls.addLabelEditorEventHandlers(termCloud);
        TermCloudControls.addSizeControl(termCloud, wordcloud_params.default_size_key, wordcloud_params.size_keys);
        TermCloudControls.addSortControl(termCloud, wordcloud_params.default_sort_key, wordcloud_params.sort_keys);

        termCloudCollection.fetch();
      });
    });
  </script>
{% endblock head_scripts %}

{% block content %}

  <nav id="waveform_navbar" class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-1 text-right" style="padding-top: 20px;">
          <span id="document_audio_controls"></span>
        </div>
        <div class="col-md-11">
          <div style="border: 1px solid #C0C0C0; margin-top: 0.5em; margin-bottom: 0.5em;">
            <div id="document_visualizer"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-1 text-right" style="padding-top: 20px;">
          <span id="term_audio_controls"></span>
        </div>
        <div class="col-md-11">
          <div style="border: 1px solid #C0C0C0; margin-top: 0.5em; margin-bottom: 0.5em;">
            <div id="term_visualizer"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-1 text-right">
        </div>
        <div class="col-md-11">
          <div class="form-inline">
            <div class="form-group has-feedback">
              <label for="term_label">Label:</label>
              <input id="term_label"></input>
              <span id="term_label_feedback" class="glyphicon glyphicon-ok form-control-feedback"
                    style="display: none;" aria-hidden="true"></span>
            </div>

            <div class="form-group">
              <label for="sort_key_select">Sort (<span id="sort_direction" class="glyphicon glyphicon-arrow-up"></span>):</label>
              <select id="sort_key_select" class="selectpicker" data-width="fit" data-style="btn-default btn-xs">
              </select>
            </div>

            <div class="form-group">
              <label for="size_key_select">Word size:</label>
              <select id="size_key_select" class="selectpicker" data-width="fit" data-style="btn-default btn-xs">
              </select>
            </div>

            <div class="form-group">
              <div id="term_visualizer_document_list" style="padding-left: 1em;"></div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </nav>

  <div id="termcloud">
    <div class="termcloud_terms"></div>
  </div>

{% endblock content %}
