/*
  CSS rules specific to VaporEngine wordclouds

  The Vennclouds file 'dynamic_wordclouds.css' is used for other
  projects than VaporEngine.  CSS rules that are common to all
  implementations of Vennclouds should go in 'dynamic_wordclouds.css'.
*/

/* Hide drop-down boxes for selecting Left and Right datasets */
#wordcloud_location thead {
    display: none;
}

.playover {
    background-color: yellow;
}

.active_wordcloud_token {
    background-color: pink;
}

.wordcloud_token {
    margin-left: 5px;
    margin-right: 5px;
}
