/*
  CSS rules specific to VaporEngine wordclouds

  The Vennclouds file 'dynamic_wordclouds.css' is used for other
  projects than VaporEngine.  CSS rules that are common to all
  implementations of Vennclouds should go in 'dynamic_wordclouds.css'.
*/

/* Hide drop-down boxes for selecting Left and Right datasets */
#wordcloud_location thead {
    display: none;
}

span.active_wordcloud_token {
    background-color: pink;
}

/* 'playover' rule comes after 'active_wordcloud_token' rule,
   so that the active token changes color during playover
 */
span.playover {
    background-color: yellow;
}

span.wordcloud_token {
    border: 1px solid transparent;
    padding-left: 5px;
    padding-right: 5px;
    white-space: nowrap;
}

span.wordcloud_token:hover {
    border: 1px solid #909090;
    background-color: #F0F0F0;
    cursor: pointer;
}

span.active_wordcloud_token:hover {
    background-color: pink;
}
